body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
#title{
    background-color: #ff4c68;
    color: #fff;
    padding-top: -200px;
}
h1{
    /* font-family: 'Montserrat-Black'; */
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    text-align: left;
}
h2{
    /* font-family: 'Montserrat-Bold'; */
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
}
h3{
    /* font-family: 'Montserrat-Bold'; */
    font-size: 1.5rem;
    font-weight: 700;
}
p{
    color: #8f8f8f;
}
.container-fluid{
    padding: 5% 15%;
}
/* Navigation Bar */
.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    /* font-family: 'Montserrat-Light'; */
    font-weight: 300;
}
/* Download Buttons */
.indexing{
    padding-top: 50px;
}
.download-button{
    margin: 5% 3% 5% 0;
    position: relative;
    right: 80px;
}
/* Title image */
.title-image{
    margin: auto auto -14rem 50px;
    width: 60%;
    transform: rotate(25deg);
}
/* Features Section */
#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative; 
}
.feature-box{
    padding: 4.5%;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}
/* Testimonal Section */
#testimonials{
    background-color: #ef8172;
    color: #fff;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;
}
/* Pricing section */
#pricing{
    padding: 100px;
}
.padding-column{
    padding: 3% 2%;
}
.adjust{
    margin-bottom: 56px;
}
@media (max-width: 1185px){
    .title-image{
        position: static;
        transform: rotate(0);
    }
    #title{
        text-align: center;
    }
}
/* Call to action */
#cta{
    background-color: #ff4c68;
    color: #fff;
    padding: 7% 15%;
}
.cta-heading{
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}
/* Footer section */
.social-icon {
    margin: 20px 10px;
  }

  
